.submit-button-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.submit-button-text-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button-input {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
}

.submit-button-label {
    padding-right: 8px;
    vertical-align: middle;
    font-size: 16px;
    color: #000000;
    margin-bottom: 4px;
}

.submit-button-color-label{
    vertical-align: middle;
    font-size: 16px;
    color: #000000;
    margin-bottom: 4px;
}

.submit-button-color-input {
    margin-left: 5px;
}