/* ColorPickerForm.css */

.font-color-input-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type='color'] {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 0;
  margin-left: 4px;
  border-radius: 14px;
}
